<a href="https://colab.research.google.com/github/RamandeepKBagri/BnDA_GGU_Workshop-_Python_for_beginners/blob/master/Week1_Hands_on_Analytics_Python_for_beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please follow Code of Conduct for the workshop in order to maintain ethics of the "Business & Data Analytics Club" of Golden Gate University.

# **Welcome to the workshop**

**Hands on Python for beginners**
# Please read carefully:
Let's get started with basic concepts of python;

Temporary layout for the 3-week workshop 

1. Week1: Fundamentals of python

2. Week2: Data Cleaning and Visualization

3. Week3: Linear regression and Naive Bayes

Any questions about today's content, please reach at rbagri@umail.ggu.edu. Any queries about the workshop or details please reach at bnda.ggu@gmail.com. I would recommend to google the situation for your best. 
I am not expertise, learning just like you guyz. I am grad student in Golden Gate University and happy to share my knowledge with my friends. I apologize if there will be any error or mistake, will try my best of knowledge to deliver quality content.

Reference

This material and examples are being used with the permission of author;

Kalb. I. (2016). Learn to Program with Python, Apress L. P. Retreived from https://www.amazon.com/Learn-Program-Python-Step-Step/dp/1484238788/ref=sr_1_1?dchild=1&keywords=kalb+python&qid=1591156271&s=books&sr=1-1

**Week 1: Fundamentals of Python**

Python first version released in the 1991 by Guido von Rossum at CWI (Centrum Wiskunde & Informatica).  (Worked for Google, now at DropBox in SF)  It has two current versions, 2.7 and 3.6. It became efficient language with added features, multiple libraries for research and prototyping but also for building the production systems. Check out more information about Python here at [Python doc](https://www.python.org/doc/).(Kalb, n.d.). If you are using any version of python, it is important to know that save your file with .py extension, otherwise you may loose your work or python will not recognize that it's python file.

Some of the basic concepts are similar in programming languages example defining variables, assignment statements, if statements, function calls (Kalb. I., n.d).

In [ ]:
print('Welcome to the workshop for learning from learner') #optional - try Hello World

Welcome to the workshop for learning from learner

In [ ]:
print('I am typing to print python code')
print('Press enter and give another print statement')
print('Now execute these print statements to see the magic of python')

I am typing to print python code
Press enter and give another print statement
Now execute these print statements to see the magic of python

There are two building blocks of programming data and code. Data is the quantities, characters, or symbols on which operations are performed with the computer (Kalb, n.d.). Examples of the data are number of plants, number of animals, names and many more. 

You will came across many types of data (clickstream, images etc), as it's beginners workshop, we will discuss only four types of data. 

First two categories are of numbers (Integers or Floating points)
   
   1. Integers examples are temperature, Number of attendees in workshop, number of courses you are taking, course number.

   2. Floating number examples are GPA, how much you paid for purse, percentages, irrational numbers like pi. 

3. String data (also called text data or "any sequence of characters (Kalb, 2016)")

    Text data examples are name of the workshop, names of all attendees, sentences. 

4. Boolean (True or False) (only 2 states)
  light is on or off, Inside or outside, listening or not listening.

Variables

Name of the memory location that holds a value. Location of the memory doesn't change but value changes all the time. 

ASSIGNMENT STATEMENT: In this statement, "variable is given to the value".


Syntax of the variable is;
                     
                     <variable> = <expression>
              Eg.,   Score  =  0

There are few rules in Python where below names cannot be used as variable names;

and, if, as, import, assert, in, break, is, class, lambda, continue, not, def, or, del, pass, elif, print, else, raise, except, return, exec, try, finally, while, for, with, from, yield, global, True, False, None.

Basic mathematical operators in Python; 

 (plus) + , - (minus) , * (multiply) , / (divide) , % (remainder), * * (exponent) , 

not  or   and (logical operators), 

in  not in (membership operators), 

<>      ==      != (Equality operators), 

<=      <>      >=  (comparison operators).

In [ ]:
x = 2999
y = 46000
print('sum of x and y is',x+y)                   #try (x-y), (x/y), (x*y), (x/y), (x%y), (x**y)

sum of x and y is 48999

In [ ]:
englishLetters = 26        #assigning the value to variable and then print
print('Number of english letters',englishLetters)

Number of english letters 26

In [ ]:
radius = 5
pi = 22/7
areaOfCircle = pi * radius ** 2                     #calculate area of circle, try at home calculate area of rectangle, sphere, parallelogram
print ("Area of Circle is",areaOfCircle )

Area of Circle 78.57142857142857

In [ ]:
price = 100000                           #discount on your purchase
discount = price * 80 // 100
total = price - discount
print ('your payment is', total)

your payment is 20000

In [ ]:
numberOfFives = 20000                      #money in the wallet program 
numberOfOnes = 110000
numberOfTens = 15000
numberOfTwenties = 20000
numberOfFiftees = 50000
total = numberOfFives + (numberOfOnes * 10) + (numberOfTens * 30) + (numberOfTwenties * 10) + (numberOfFiftees * 10)
print('Total amount is', total)

Total amount is 2270000

In [ ]:
x = 999998999
y = 678999999
print('The product is', x*y)

The product is 678999319321001001

In [ ]:
numberOfInfectedPeopleFromCOVID = 200000
numberOfPeopleRecovered = 80000
numberOfPeopleTestedPositive = 40000
total = (numberOfInfectedPeopleFromCOVID + numberOfPeopleTestedPositive) - (numberOfPeopleRecovered)
print('newCOVIDinfectedData', total)

newCOVIDinfectedData 160000

In [ ]:
sum(range(11)) #0+1+2+3+4+5+6+7+8+9+10

55

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

Suggestion: Practise more of these simple programs.

A group of “statements” like this in Python is called a “function” (Kalb, 2016).
 It is a series of the steps defined called in function and execute them over defined type of function; take a look at syntax

In [ ]:
 def getGroceries():  
   print("milk")  
   print("flour")  
   print("sugar")  
   print("squash")  
   print()  #blank line

In [ ]:
#calculate an average of three numbers

def calculateAverage(value1,value2,value3):
    total=value1+value2+value3
    average=total/3
    print('the average of the numbers',format(average,'.2f'))
    return average #hand this back to the caller

#main code
answer1=calculateAverage(-10,20,30) #pass in an argument 
answer2=calculateAverage(1,6,7)
answer3=calculateAverage(.099,36,.67)

number1=input('enter a number')
number1=float(number1)
number2=input('enter a number')
number2=float(number2)
number3=input('enter a number')
number3=float(number3)
answer4=calculateAverage(number1,number2,number3)

print('the average were',answer1,answer2, answer3, answer4)

the average of the numbers 13.33
the average of the numbers 4.67
the average of the numbers 12.26
enter a number45
enter a number56
enter a number78
the average of the numbers 59.67
the average were 13.333333333333334 4.666666666666667 12.256333333333332 59.666666666666664

Use 'Function'or call function;

                 <functionname>()

You need argument, 
                
                 <functionname> (<argument1>, <argument2>, ....)

to return the value, you need variable using assignmet statement; 

          <varaible> = <functonname> (<argument1>, <argument2>,....)

In [ ]:
anyVar = 31
print(type(anyVar))

<class 'int'>

In [ ]:
var2 = '31'
print(type(var2))

<class 'str'>

In [ ]:
getavalue = input('enter any number')
getavlue = int(getavalue)

enter any number54

Now you can also use if and else statements;

In [ ]:
myname = input('guess my name')
if myname=='ramandeep':
    print('Asum you are first one! got my name correct')
else:
    print('opps! guess one more time')

guess my namemona
opps! guess one more time

In [ ]:
yourName = input('Please enter your name')
yourAge = input('Please enter your age')
yourAge = int(yourAge)  #convert it into int to use it later 
yourBrotherAge = input('Please enter your brother age')
yourBrotherAge = int(yourBrotherAge)
total = yourAge + yourBrotherAge
print('Total of my age and my brother age', total)

Please enter your nameramandeep
Please enter your age29
Please enter your brother age23
Total of my age and my brother age 52

Let's do cash price example;

In [ ]:
bread = input('Bread price is $')
bread = float (bread)

avacado = input('Avacado price is $')
avacado = float (avacado)

total  = bread + avacado 

amountGiven = input('How much customer gave $')
amountGiven = float(amountGiven)

change = amountGiven - total
print('your change $'+str(change)) #concatenation and get rid of space
print('total price to be paid is $'+str(total))

Bread price is $14.00
Avacado price is $5.00
How much customer gave $98
your change $79.0
total price to be paid is $19.0

Python for analysis needs all these basic fucntions, more or less is defined in libraries. You don't have to define function that often.

Let's do some statistics using python.

In [ ]:
data = [11,17,8,5,9,33,77,99]

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.DataFrame(data)
df

    0
0  11
1  17
2   8
3   5
4   9
5  33
6  77
7  99

In [ ]:
df.describe()

               0
count   8.000000
mean   32.375000
std    35.884487
min     5.000000
25%     8.750000
50%    14.000000
75%    44.000000
max    99.000000

List: Data structures are containers that organize and group data types together in different ways. A list is one of the most common and basic data structures in Python. List starts with zero and defines last element as -1. Let's create a simple list with funtion range;

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List can be of random variables;

In [ ]:
list_of_random_things = [1, 3.4, 'a string', True]
list_of_random_things

[1, 3.4, 'a string', True]

Mutability and Order Mutability is about whether or not we can change an object once it has been created. If an object (like a list or string) can be changed (like a list can), then it is called mutable. However, if an object cannot be changed with creating a completely new object (like strings), then the object is considered immutable. Most of the time intergers list is mutable and we can overwrite the other values on same data or arrray. Example.

In [ ]:
x = [4,5,8,9]
x

[4, 5, 8, 9]

In [ ]:
x= [3,6,9,12]
x

[3, 6, 9, 12]

There are different libraries in the python for data analysis and let's get familiar with them. 

Pandas library is mostly used for loading the most types of the data in different formats. Data can be available in any format, csv, text files, json, HTML, opendoc spreadsheet, binary excel, clipboard, pickling, msgpack, HDFS, feather, parquet, sql queries, googleBig Query, Stata format, SAS formats, SPSS formats, and other file formats. Please visit [here](https://pandas.pydata.org/docs/user_guide/index.html)  to load each type of data. 

There are other functions of the Pandas is; 

Indexing and selecting data, MultiIndex/advanced indexing, merge, join, concatenate, reshaping and pivot tables, working with text data, working with missing data, categorical data, nullable integer data type, nullable bollean data types, visualization, computational tools, in data frame - pandas give option for split, apply, combine, data functionlity, time series, time deltas, scaling to large datasets. Let's get familair with intro of Pandas. 

Reference 

Pandas. (n.d.). User guide. Official pandas website. Retreive from https://pandas.pydata.org/docs/user_guide/index.html

Source code

Pandas. (n.d.). 10 minute to Pandas. Official pandas website. Retreive from https://pandas.pydata.org/docs/getting_started/10min.html#min

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])       #create the data (data could be of any type)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20200607', periods=6) #to get the specific range, pass the value where you want to stop the series of range at 0 to 5 (total=6)
dates

DatetimeIndex(['2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD')) #create the dataframe by passing numpy array with datetime index, label col
df

                   A         B         C         D
2020-06-07 -1.109002 -1.160916  0.815969 -0.514779
2020-06-08  0.584084  0.205822 -0.967518 -0.374997
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440
2020-06-10  1.157251  1.455518  1.557631 -0.321652
2020-06-11 -0.076257  0.012141  0.051222 -0.164075
2020-06-12 -2.010270  0.384734 -0.953955  2.037770

In [ ]:
df.head() #head return first 5 rows of the dataset

                   A         B         C         D
2020-06-07 -1.109002 -1.160916  0.815969 -0.514779
2020-06-08  0.584084  0.205822 -0.967518 -0.374997
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440
2020-06-10  1.157251  1.455518  1.557631 -0.321652
2020-06-11 -0.076257  0.012141  0.051222 -0.164075

In [ ]:
df.tail() #return last 5 rows of the dataset

                   A         B         C         D
2020-06-08  0.584084  0.205822 -0.967518 -0.374997
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440
2020-06-10  1.157251  1.455518  1.557631 -0.321652
2020-06-11 -0.076257  0.012141  0.051222 -0.164075
2020-06-12 -2.010270  0.384734 -0.953955  2.037770

In [ ]:
df.index #display index column

DatetimeIndex(['2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns #name of the columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.to_numpy()  #get you all floating values

array([[-1.10900248, -1.16091575,  0.81596917, -0.51477908],
       [ 0.58408437,  0.20582166, -0.96751777, -0.37499738],
       [-1.5900423 , -0.8562486 , -1.99127399, -2.8104403 ],
       [ 1.15725104,  1.45551772,  1.55763097, -0.32165157],
       [-0.07625735,  0.01214063,  0.05122151, -0.16407515],
       [-2.01027045,  0.38473432, -0.95395476,  2.03777038]])

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20200607'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2020-06-07  1.0  3   test  foo
1  1.0 2020-06-07  1.0  3  train  foo
2  1.0 2020-06-07  1.0  3   test  foo
3  1.0 2020-06-07  1.0  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2020-06-07 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-07 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-06-07 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-07 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.507373  0.006842 -0.247987 -0.358029
std    1.260234  0.936981  1.306671  1.537399
min   -2.010270 -1.160916 -1.991274 -2.810440
25%   -1.469782 -0.639151 -0.964127 -0.479834
50%   -0.592630  0.108981 -0.451367 -0.348324
75%    0.418999  0.340006  0.624782 -0.203469
max    1.157251  1.455518  1.557631  2.037770

In [ ]:
df.T  #transposing the data

   2020-06-07  2020-06-08  2020-06-09  2020-06-10  2020-06-11  2020-06-12
A   -1.109002    0.584084   -1.590042    1.157251   -0.076257   -2.010270
B   -1.160916    0.205822   -0.856249    1.455518    0.012141    0.384734
C    0.815969   -0.967518   -1.991274    1.557631    0.051222   -0.953955
D   -0.514779   -0.374997   -2.810440   -0.321652   -0.164075    2.037770

In [ ]:
df.sort_index(axis=1, ascending=False) #sorting by an axis

                   D         C         B         A
2020-06-07 -0.514779  0.815969 -1.160916 -1.109002
2020-06-08 -0.374997 -0.967518  0.205822  0.584084
2020-06-09 -2.810440 -1.991274 -0.856249 -1.590042
2020-06-10 -0.321652  1.557631  1.455518  1.157251
2020-06-11 -0.164075  0.051222  0.012141 -0.076257
2020-06-12  2.037770 -0.953955  0.384734 -2.010270

In [ ]:
df.sort_values(by='B') #sorting by values

                   A         B         C         D
2020-06-07 -1.109002 -1.160916  0.815969 -0.514779
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440
2020-06-11 -0.076257  0.012141  0.051222 -0.164075
2020-06-08  0.584084  0.205822 -0.967518 -0.374997
2020-06-12 -2.010270  0.384734 -0.953955  2.037770
2020-06-10  1.157251  1.455518  1.557631 -0.321652

In [ ]:
df['A'] #selecting column from dataframe

2020-06-07   -1.109002
2020-06-08    0.584084
2020-06-09   -1.590042
2020-06-10    1.157251
2020-06-11   -0.076257
2020-06-12   -2.010270
Freq: D, Name: A, dtype: float64

In [ ]:
df[0:3]   #[] slice the rows from 0 to 3

                   A         B         C         D
2020-06-07 -1.109002 -1.160916  0.815969 -0.514779
2020-06-08  0.584084  0.205822 -0.967518 -0.374997
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440

In [ ]:
#select by labels   #get the cross section using labels 
df.loc[dates[0]]

A   -1.109002
B   -1.160916
C    0.815969
D   -0.514779
Name: 2020-06-07 00:00:00, dtype: float64

In [ ]:
df.loc[:, ['A', 'B']]    #selecting multi-axis by label

                   A         B
2020-06-07 -1.109002 -1.160916
2020-06-08  0.584084  0.205822
2020-06-09 -1.590042 -0.856249
2020-06-10  1.157251  1.455518
2020-06-11 -0.076257  0.012141
2020-06-12 -2.010270  0.384734

In [ ]:
df.loc['20200607':'20200710', ['A', 'B']] #label slicing, both endpoints are included

                   A         B
2020-06-07 -1.109002 -1.160916
2020-06-08  0.584084  0.205822
2020-06-09 -1.590042 -0.856249
2020-06-10  1.157251  1.455518
2020-06-11 -0.076257  0.012141
2020-06-12 -2.010270  0.384734

In [ ]:
df.loc['20200607', ['A', 'B']]  #reduction in the dimension of the returned object

A   -1.109002
B   -1.160916
Name: 2020-06-07 00:00:00, dtype: float64

In [ ]:
df.loc[dates[0], 'A'] #for a scaler value

-1.1090024779123049

In [ ]:
df.iloc[3]  #selecting positions by passing integers

A    1.157251
B    1.455518
C    1.557631
D   -0.321652
Name: 2020-06-10 00:00:00, dtype: float64

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-06-08  0.584084 -0.967518
2020-06-09 -1.590042 -1.991274
2020-06-11 -0.076257  0.051222

In [ ]:
df[df['A'] > 0] #using single columns values to select the data

                   A         B         C         D
2020-06-08  0.584084  0.205822 -0.967518 -0.374997
2020-06-10  1.157251  1.455518  1.557631 -0.321652

In [ ]:
df2 = df.copy()  
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2020-06-07 -1.109002 -1.160916  0.815969 -0.514779    one
2020-06-08  0.584084  0.205822 -0.967518 -0.374997    one
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440    two
2020-06-10  1.157251  1.455518  1.557631 -0.321652  three
2020-06-11 -0.076257  0.012141  0.051222 -0.164075   four
2020-06-12 -2.010270  0.384734 -0.953955  2.037770  three

In [ ]:
df2[df2['E'].isin(['two', 'four'])] #using isin method for filtering

                   A         B         C         D     E
2020-06-09 -1.590042 -0.856249 -1.991274 -2.810440   two
2020-06-11 -0.076257  0.012141  0.051222 -0.164075  four

Here! is the end of workshop 1st week. I will recommend look deeper in resources, I am not expert. I bet you will get better details than me. How did you like the workshop 1st day. Please let us know in survey. Have a great days till our next meeting. Any questions please reach out to us, we all are here to help each other.